@font-face {
  font-family: 'Clear Sans';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/ClearSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Clear Sans';
  font-weight: bold;
  font-style: normal;
  src: url('./assets/fonts/ClearSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Clear Sans';
  font-weight: normal;
  font-style: italic;
  src: url('./assets/fonts/ClearSans-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Clear Sans';
  font-weight: bold;
  font-style: italic;
  src: url('./assets/fonts/ClearSans-Italic.woff') format('woff');
}
