// Media queries
$extra-small-width:  320px;
$small-width:        576px;
$medium-width:       768px;
$large-width:        992px;
$extra-large-width: 1200px;

// Colors
$gray: #808080;
$lightgray: #cfcfcf;
$bggray: #f8f8f8;
$blue: #5dbde1;
